.Banner {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0px 5% 0px 5%;
}
.popular-restaurants {
  padding-left: 5%;
  padding-right: 5%;
}
.popular-restaurants-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 768px) {
  .popular-restaurants-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.popular-restaurants-heading {
  color: #183b56;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
}
.popular-restaurants-paragraph {
  color: var(--light-blue-gray-500, #64748b);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.sort-Container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sortByOptionsLogo {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #475569;
}
.sortByOptions {
  color: var(--light-blue-gray-600, #475569);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  border: none;
  background: none;
  outline: none;
}
.h-Line {
  background-color: #cbd2d9;
  height: 1px;
}
.RestaurantsList {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.page-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-button {
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 1px solid #334155;
  width: 32px;
  height: 32px;
}
.PageNumbers {
  color: var(--light-blue-gray-700, #334155);
  text-align: center;
  font-family: Bree Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-container {
  border: 2px solid #4f635e;
  border-radius: 4px;
  padding: 3px 6px 3px 6px;
  display: flex;
  align-items: center;
}
.search-input {
  border: none;

  outline: none;
  cursor: text;
  color: #1c1d21;
  font-family: 'Roboto';
}
.search-button {
  border: none;
  border-left: 1px solid #4f635e;
  background-color: transparent;
  padding-left: 6px;
  cursor: pointer;
  outline: none;
}
.No-Restaurants {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.No-Restaurants-heading {
  color: #cc0c3c;
  font-family: 'Bree Serif';
  font-size: 40px;
}
