.bg-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 0px;
}
.Login-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.food-image {
  width: 100%;
}
.Login-box {
  width: 456px;
  height: 523px;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 48px;
  background: #fefeff;
  box-shadow: 0px 8px 40px 0px rgba(7, 7, 7, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-heading {
  color: var(--light-blue-gray-900, #0f172a);
  text-align: center;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
}
.login-heading-mobile {
  color: var(--light-blue-gray-900, #0f172a);
  text-align: center;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
}
@media all and (min-width: 577px) {
  .login-heading-mobile {
    display: none;
  }
}
.mobile-logo {
  display: none;
  width: 100%;
  width: 387px;
  height: 387px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 73px 0px;
}

@media all and (max-width: 576px) {
  .login-heading {
    display: none;
  }
  .food-image {
    display: none;
  }
  .Login-container {
    width: 100%;
  }
  .logo {
    display: none;
  }
  .mobile-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
  }
}

.input-box {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}
.input-space {
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  background: var(--light-blue-gray-200, #e2e8f0);
  padding-left: 10px;
  outline: none;
}
.label {
  color: var(--light-blue-gray-600, #475569);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
  text-transform: uppercase;
}
.login-button {
  display: flex;
  margin-top: 25px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  width: 360px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #ffffff;
  background-color: #f7931e;
  font-weight: bold;
}
.error_msg {
  color: var(--light-red-500, #ef4444);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-logo {
  color: #f7931e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.website-login-image-lg {
  height: 100vh;
}

@media all and (max-width: 576px) {
  .login-logo {
    display: none;
  }
  .website-login-image-lg {
    display: none;
  }
}
