.food-item-container {
  display: flex;
  align-items: center;
  margin: 10px 5px 10px 5px;
}
.food-details-container {
  width: 150px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price {
  color: var(--light-blue-gray-700, #334155);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.price-container {
  display: flex;
  align-items: center;
}
.food-image {
  width: 255px;
  height: 150px;
  border-radius: 8px;
}

@media all and (max-width: 576px) {
  .food-image {
    max-width: 160px;
    max-height: 100px;
  }
}

.Add-button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: #ffa412;
  border: 2px solid #ffa412;
  border-radius: 8px;
  display: flex;
  padding: 8px 16px;
  text-align: center;
  margin-top: 8px;
}
